* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

span {
    color: coral;
}

section {
    display: flex;
    margin-bottom: 50px;
}

p {
    text-align: justify;
}

.half-width {
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.half-width img {
    width: 80%;
    padding-left: 50px;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    border-radius: 5px;
    color: papayawhip;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}